.veb-menu-content {
    padding: 8px 0;
    position: absolute;
    width: 200px;
    z-index: 1001;
    height: auto;
    overflow: hidden;
    background: white;
    @include elevation(2);
    @include border-radius(2px);
    visibility: hidden;
    @include transform(translateZ(0) scale(0, 0));
    @include transform-origin(0% 0%);
    @include renderIssue();
    opacity: 0;
    max-height: 288px;
    @include transition((all 0.25s $animation-standard-curve-timing-function, opacity 0.2s $animation-standard-curve-timing-function));
    display: -ms-flex; 
    display: -webkit-flex; 
    display: flex; 
    &.show {
        @include transform(translateZ(0) scale(1, 1));
        @include transition((all 0.18s $animation-standard-curve-timing-function, opacity 0.25s $animation-standard-curve-timing-function));
        visibility: visible;
        opacity: 1;
    }
    &> div {
        // max-height: 288px;
        flex: 1;
        width: 100%;
    }
    &.left-top {
        @include transform-origin(0% 0%);
    }
    &.right-top {
        @include transform-origin(100% 0%);
    }
    &.left-bottom {
        @include transform-origin(0% 100%);
    }
    &.right-bottom {
        @include transform-origin(100% 100%);
    }
}

.veb-menu-item {
    height: 48px;
    width: 100%;
    padding: 8px 16px;
    @include typography-menu;
    line-height: 32px;
    cursor: pointer;
    @include transition(all 0.1s $animation-standard-curve-timing-function);
    color: $color-grey-800;
    vertical-align: middle;
    &:hover {
        background: rgba(#000, 0.05);
    }
    .mdi {
        float: left;
        vertical-align: middle;
        line-height: 27.5px;
        margin-right: 16px;
        color: $color-grey-600;
        font-size: 18px;
        width: 18px;
        height: 18px;
    }
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
        .mdi {}
    }
    &.active {
        color: $theme-primary;
        &:hover {
            background: rgba($theme-primary, 0.1);
        }
    }

    &.veb-menu-option.selected {
        background: rgba(#000, 0.05);
    }
}

.veb-menu-select {
    padding-bottom: 9px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    cursor: pointer;
    border-bottom: 1px solid $color-grey-300;
    background: rgba($color-black, 0.02);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    @include transition(all 0.2s $animation-sharp-curve-timing-function);
    select {
        width: 0;
        height: 0;
        z-index: -1;
        position: absolute;
        left: -10000px;
        top: -10000px;
    }
    .mdi {
        position: absolute;
        right: 4px;
        top: 20px;
        color: $color-grey-600;
    }
    .veb-menu-select-description {
        z-index: 1;
        width: 100%;
        border: 0;
        margin: 0 -8px;
        padding: 24px 8px;
        padding-bottom: 0px;
        background: transparent;
        outline: none;
        font-size: 16px;
        line-height: 18px;
        @include transform(translateZ(0));
        white-space: nowrap;
    }
    .veb-floating-placeholder {
        position: absolute;
        top: 0;
        left: 0;
        font-size: 12px;
        color: $color-grey-500;
        @include transform-origin((0));
        @include transition(all 0.2s $animation-standard-curve-timing-function);
        @include transform(translateZ(0));
        white-space: nowrap;
    }

    &:not(.disabled):hover {
        background: rgba($color-black, 0.04);
    }

    &.disabled {
        pointer-events: none;
        color: $color-grey-400;

        .mdi {
            color: $color-grey-300;
        }

        .veb-menu-select-description {
            border-bottom: 1px solid $color-grey-200;
        }
    }
}