<template>
    <div style="width: 100%; max-width: 100%; height: 100%; position: absolute; top: 0;left: 0; overflow: hidden"  class="flex-fill-height">
        <div class="flex-fill-height">
            <veb-tab id="tab" ref="tabHeader" class="background-primary elevation z2" v-elevation style="visibility: visible">
                <veb-tab-item v-ripple>To-do</veb-tab-item>
                <veb-tab-item v-ripple>Doing</veb-tab-item>
                <veb-tab-item v-ripple>Done</veb-tab-item>
                <veb-tab-item v-ripple>Verified</veb-tab-item>
                <veb-tab-item v-ripple>In Production</veb-tab-item>
            </veb-tab>
            <veb-tab-content ref="tabContent" element="#tab" :size="3"  class="flex-fill-height">
                <veb-tab-content-item >
                    <veb-page-container style="max-width: 500px;">
                        <div class="row center-xs">
                            <div class="col-xs-fluid-24">
                                <veb-cards class="cards-details">
                                    <div @click="toggleHeight" class="cards-toggler">
                                        <veb-cards-content style="padding: 12px 24px;padding-bottom: 6px; cursor: pointer" v-ripple>
                                            <div class="font-title">#1 Title 1</div>
                                        </veb-cards-content>
                                    </div>
                                    <div>
                                        <veb-divider></veb-divider>
                                        <veb-cards-content style="padding: 12px 24px;padding-top: 6px">
                                            <div class="font-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut ut minus officia vitae quibusdam quidem dicta quae sint, eius hic libero dignissimos. Id vero iure explicabo eos corrupti. Nam.</div>
                                        </veb-cards-content>
                                        <veb-cards-content style="padding: 12px;">
                                            <veb-chip name="High Priority" class="invert background-red"></veb-chip>
                                            <veb-chip name="module:UAUC" class="invert background-primary"></veb-chip>
                                            <veb-chip name="module:HSERAI" class="invert background-primary"></veb-chip>
                                            <veb-chip name="module:Incident" class="invert background-primary"></veb-chip>
                                        </veb-cards-content>
                                        <veb-cards-action>
                                            <div class="pull-right">
                                                <span>
                                                    <veb-icon-button name="comment-plus-outline" style="float:left"></veb-icon-button>
                                                    <veb-icon-button name="comment-text-multiple" style="float:left"></veb-icon-button>
                                                </span>
                                                <veb-button class="primary" v-ripple><veb-icon name="check"></veb-icon>Done</veb-button>
                                            </div>
                                        </veb-cards-action>
                                    </div>
                                </veb-cards>
                                <veb-cards class="cards-details">
                                    <div @click="toggleHeight" class="cards-toggler">
                                        <veb-cards-content style="padding: 12px 24px;padding-bottom: 6px; cursor: pointer" v-ripple>
                                            <div class="font-title">#1 Title 1</div>
                                        </veb-cards-content>
                                    </div>
                                    <div>
                                        <veb-divider></veb-divider>
                                        <veb-cards-content style="padding: 12px 24px;padding-top: 6px">
                                            <div class="font-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut ut minus officia vitae quibusdam quidem dicta quae sint, eius hic libero dignissimos. Id vero iure explicabo eos corrupti. Nam.</div>
                                        </veb-cards-content>
                                        <veb-cards-action>
                                            <div class="pull-right">
                                                <span>
                                                    <veb-icon-button name="comment-plus-outline" style="float:left"></veb-icon-button>
                                                    <veb-icon-button name="comment-text-multiple" style="float:left"></veb-icon-button>
                                                </span>
                                                <veb-button class="primary" v-ripple><veb-icon name="check"></veb-icon>Done</veb-button>
                                            </div>
                                        </veb-cards-action>
                                    </div>
                                </veb-cards>
                                <veb-cards class="cards-details">
                                    <div @click="toggleHeight" class="cards-toggler">
                                        <veb-cards-content style="padding: 12px 24px;padding-bottom: 6px; cursor: pointer" v-ripple>
                                            <div class="font-title">#1 Title 1</div>
                                        </veb-cards-content>
                                    </div>
                                    <div>
                                        <veb-divider></veb-divider>
                                        <veb-cards-content style="padding: 12px 24px;padding-top: 6px">
                                            <div class="font-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut ut minus officia vitae quibusdam quidem dicta quae sint, eius hic libero dignissimos. Id vero iure explicabo eos corrupti. Nam.</div>
                                        </veb-cards-content>
                                        <veb-cards-action>
                                            <div class="pull-right">
                                                <span>
                                                    <veb-icon-button name="comment-plus-outline" style="float:left"></veb-icon-button>
                                                    <veb-icon-button name="comment-text-multiple" style="float:left"></veb-icon-button>
                                                </span>
                                                <veb-button class="primary" v-ripple><veb-icon name="check"></veb-icon>Done</veb-button>
                                            </div>
                                        </veb-cards-action>
                                    </div>
                                </veb-cards>
                                <veb-cards class="cards-details">
                                    <div @click="toggleHeight" class="cards-toggler">
                                        <veb-cards-content style="padding: 12px 24px;padding-bottom: 6px; cursor: pointer" v-ripple>
                                            <div class="font-title">#1 Title 1</div>
                                        </veb-cards-content>
                                    </div>
                                    <div>
                                        <veb-divider></veb-divider>
                                        <veb-cards-content style="padding: 12px 24px;padding-top: 6px">
                                            <div class="font-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aut ut minus officia vitae quibusdam quidem dicta quae sint, eius hic libero dignissimos. Id vero iure explicabo eos corrupti. Nam.</div>
                                        </veb-cards-content>
                                        <veb-cards-action>
                                            <div class="pull-right">
                                                <span>
                                                    <veb-icon-button name="comment-plus-outline" style="float:left"></veb-icon-button>
                                                    <veb-icon-button name="comment-text-multiple" style="float:left"></veb-icon-button>
                                                </span>
                                                <veb-button class="primary" v-ripple><veb-icon name="check"></veb-icon>Done</veb-button>
                                            </div>
                                        </veb-cards-action>
                                    </div>
                                </veb-cards>
                            </div>
                        </div>
                    </veb-page-container>
                </veb-tab-content-item>
                <veb-tab-content-item>
                    fgfg
                </veb-tab-content-item>
                <veb-tab-content-item>
                    fgfg
                </veb-tab-content-item>
                <veb-tab-content-item>
                    fgfg
                </veb-tab-content-item>
                <veb-tab-content-item>
                    fgfg
                </veb-tab-content-item>
            </veb-tab-content>
        </div>
        <veb-reveal ref="addItem">

        </veb-reveal>
    </div>
</template>

<script>
import pageMixins from '~/mixins/pageMixins.js'
import CurrentuserGQL from '~/apollo/query/currentUser.gql'
import _ from 'lodash'
import CurrentuserProjectsGQL from '~/apollo/query/currentUserProjects.gql'
import CurrentProjectGQL from '~/apollo/query/currentProject.gql'
import Helper from '~/assets/helper'
export default {
    mixins: [pageMixins],
    layout: 'dashboardLayout',
    data () {
        return {
            pageTitle: 'Lists',
            selectValue: '',
            currentUser: null,
            currentUserProjects: []
        }
    },
    mounted () {
        this.$nextTick(() => [
            this.$root.mainToolbar.registerIconAction({iconName: 'plus'},() => {
                this.$refs.addItem.enable()
            })
        ])
    },
    methods: {
        orderData (header, order) {
            if (header === 'Last Update') {
                header = 'updatedAt'
            } else if (header === 'Name') {
                header = 'name'
            }
            this.currentUserProjects = _.orderBy(this.currentUserProjects, header, order)
        },
        toggleHeight(e) {
            let cards = Helper.findAncestor(e.target, 'veb-cards')
            Helper.toggleClass(cards, 'show')
            if (Helper.hasClass(cards, 'show')){
                cards.style.maxHeight = (cards.children[1].scrollHeight + 48) + 'px'
            } else {
                cards.style.maxHeight = 48 + 'px'
            }
            
        }
    },
    apollo: {
        currentUser: CurrentuserGQL,
        currentUserProjects: CurrentuserProjectsGQL
    }
}
</script>

<style scoped>
    .no-hover:hover {
        background: none;
    }

    .cards-details {
        will-change: max-height;
        transition: max-height 0.2s ease-in-out;
        transform: translateZ(0);
        overflow: hidden;
        max-height: 48px;
    }

    .cards-details .cards-toggler {
        z-index: 3;
    }

    .cards-details.show {
        height: auto;
    }

    .cards-details.show .cards-toggler {
        background: #fafafa;
    }
</style>


